<h2>Форма напоминания</h2>
<form [formGroup]="reminderForm" (ngSubmit)="onSubmit()">

    <div class="formLine">
      <div>
        <label for="creationDateTime">Дата создания: </label>
        <input id="creationDateTime" type="text" formControlName="creationDateTime">
      </div>
      <div>
        <label for="completionDateTime">Дата выполнения: </label>
        <input id="completionDateTime" type="text" formControlName="completionDateTime">
      </div>
      <div>
        <label for="statusId"> Статус: </label>
        <select id="statusId" formControlName="statusId">
          <option value="1">Новый</option>
          <option value="2">Исполнен</option>
          <option value="3">Запланирован</option>
          <option value="4">Просрочен</option>
        </select>
      </div>
   </div>

    <label for="shortDescription">Краткое описание: </label>
    <input id="shortDescription" type="text" formControlName="shortDescription">

    <label for="fullDescription">Полное описание: </label>
    <textarea id="fullDescription" type="text" formControlName="fullDescription"> </textarea>
  <button type="submit">Сохранить</button>
  <button (click)="backButton()">Назад</button>
</form>



  <!-- reminderForm = new FormGroup({
    creationDateTime: new FormControl(''),
    completionDateTime: new FormControl(''),
    statusId: new FormControl(''),
    shortDescription: new FormControl(''),
    fullDescription: new FormControl(''),
  }) -->